/*глобальный -  1
тег - 10
класс - 100
id - 1000 */

* {
    font-family: system-ui ;
}

.header {
    width: 700px;
    height: 50px;  
    padding: 10px;
    top: auto;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 450px;
    margin-right: 450px;
}

A:link { 
    color: #252422 /* Цвет непосещенных ссылок */
   }
   A:visited { 
    color: #403d39 /* Цвет посещенных ссылок */
   }
   A:hover { 
    color: #eb5e28; /* Цвет ссылок при наведении на них курсора мыши */
   }

.left-block {
    width: 12.5%;
    height: 510px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 150px;
    background-color: #403d39;
    box-shadow: 0 0 5px;
    float: left;
}

#photo {
    width: 165px;
    height: 190px;
    margin-left: 17.5px;
    margin-right: 17.5px;
    margin-top: 15px;
    box-shadow: 0 0 5px 2px #fcfbfb;
}

#left {
    background-color: #403d39;
    font-size: 12px;
    color: #fffcf2;
    text-align: center;
}

#left strong {
    color: #ebebeb;
    margin:0 auto;
}

#left u {
    color: #eb5e28;
    margin:0 auto;
}

.main {
    width: 50%;
    height: 510px;
    background-color: #ccc5b9;
    padding: 10px;
    margin-right: 10px;
    box-shadow: 0 0 5px;
    font-size: 13px;
    color: #252422;
    overflow-y: scroll; /* прокрутка по вертикали */
    float: left;
}


.right {
    width: 12.5%;
    height: 510px;
    padding: 10px;
    box-shadow: 0 0 5px;
    background-color: #403d39;
    color:  #fffcf2;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 0 5px #252422;
    float: left;
    margin-right: 150px;
}

form [class~="offer"] {
    color: #eb5e28;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 13px;
}

#categories {
    text-shadow: 1px 1px 1px #fffcf2;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}

.footer {
    width: 49.6%;
    height: 100px;
    padding: 10px;
    background-color: #403d39;
    box-shadow: 0 0 5px #252422;
    color:  #fffcf2;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    position: fixed;
    bottom: 170px;
    right: 415px;
}

#line {
    border-bottom: ridge 5px #fffcf2;
}

#gif {
    width: 100px;
    height: 100px;
    margin-left: 17.5px;
    margin-right: 17.5px;
    margin-top: 15px;
}